<%= form_for @artist_item, html: { multipart: true } do |f| %>

<h1>new artist</h1>

<div class="row">
<div class="col-xs-3">
<label>Name :</label>
</div>
<div class="col-xs-3">
<%= f.text_field :name, placeholder: "insert name" %></div>
</div>

<div class="row">
<div class="col-xs-3">
<label>Bio :</label>
</div>
<div class="col-xs-3">
<%= f.text_area :bio, placeholder: "insert bio" %></div></div>

Upload Photo
<%= file_field_tag "images[]", type: :file, multiple: true %>

<%= f.submit "create new artist" %>

<% end %>


<% if @photos %>
<% @photos.each do |photo| %>

  <%= image_tag photo.image %>

<% end %>
<% end %>
