<%= link_to @order_text_by_name , artists_path(order_by: @order_by_name) %> |
<%= link_to @order_text_by_date , artists_path(order_by: @order_by_date) %>
<ul>
<% @artists.each do |artist| %>
<li>
  <%= link_to artist.name , artist_path(artist) %> ( <%= artist.created_at %> )
</li>
<% end %>

</ul>
<p>
<%= link_to 'new artist' , new_artist_path %>
</p>
