<header>
  <h1><%= @artist.name %></h1>
</header>

<div class="container artist-show">

  <div class="col-xs-5">
    <div class="row">
      <% @artist.photos.each do |photo| %>
        <%= image_tag ( photo.image ? photo.image.thumbnail : @image_not_found)  %>
      <% end %>
    </div>

    <div class="row">
      <%= link_to "delete artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@artist.name}?" } %>
    </div>

    <div class="row">
      <%= form_for [@artist, @artist.songs.new], id: 'new_song' do |f| %>
      <div>
        <label>Name :
        </label>

        <%= f.hidden_field :artist_id ,{ value: @artist.id }%>
        <%= f.text_field :title, { placeholder: "insert song"} %>

      </div>

      <div>
        <%= f.button "create new song" , id: "submit" , class: "btn btn-primary btn-xs" %>

      </div>

    <% end %>
  </div>
  <div class="row">
    <button data-artist-id="<%= @artist.id  %>" id="delete_all_songs" class="btn btn-primary btn-xs">delete all songs</button>
  </div>
</div>

<div id="song-list" class="col-xs-7">

  <% @artist.songs.each do |song| %>

    <div class="row">
      <div class="col-xs-7">
        <%= song.title %>
      </div>
      <div class="col-xs-5">
        <button data-artist-id="<%= @artist.id  %>" data-song-id="<%= song.id  %>" type="button" class="delete-song btn btn-primary btn-xs">Delete song</button>
      </div>
    </div>

  <% end %>

</div>

<%= notice %>

</div>
