<h1><%= @artist.name %>

<%#= form_for @artist, html: { multipart: true } do |p| %>
<%#= p.file_field "images[]", type: :file, multiple: true %>
<%#= p.submit "save picture" %>
<%# end %>

<%= link_to "delete", artist_path(@artist.id), method: :delete,
    data: { confirm: "Are you sure you want to delete #{@artist.name}?" } %>
</h1>


<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image.thumbnail %>
<% end %>



<ul id="song-list">
<% @artist.songs.each do |song| %>
<li>
  <%= song.title %>
    <!-- <%= link_to "delete song", artist_song_path(@artist.id , song.id ), id: "delete-song",
    method: :delete,
    data: { confirm: "Are you sure you want to delete it?" } %> -->
    <button data-artist-id="<%= @artist.id  %>" data-song-id="<%= song.id  %>" type="button" class="delete-song btn btn-primary">Primary</button>
  </li>
<% end %>
</ul>
<hr>

 <%= notice %>


<hr>
  <%= form_for [@artist, @artist.songs.new], id: 'new_song' do |f| %>
  <div>
    <label>Name : </label>

    <%= f.hidden_field :artist_id ,{ value: @artist.id }%>
    <%= f.text_field :title, { placeholder: "insert song"} %>


  </div>

  <div>
    <%= f.submit "create new song" %>

  </div>
  <% end %>
