<header>
  <h1><%= @artist.name %></h1>
</header>

<div class="container artist-show">

  <div class="col-xs-5">
    <div class="row">

        <%= image_tag @image  %>

    </div>

    <div class="row">
      <%= link_to "delete artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@artist.name}?" } %>
    </div>

    <div class="row">

      <form id="new_song">
        <label>Title :</label>
        <input id="hidden"  type="hidden" value="<%= @artist.id %>" />
        <input id="title" name="title" placeholder="Enter title" type="text" />
        <input type="submit" class="btn btn-primary btn-xs" value="goo">
      </form>


  </div>

</div>
<div class="col-xs-7">
  <button data-artist-id="<%= @artist.id  %>" id="delete_all_songs" class="btn btn-primary btn-xs">delete all songs</button>

<div id="song-list" >

  <% @artist.songs.each do |song| %>

    <div class="row">
      <div class="col-xs-7">
        <%= song.title %>
      </div>
      <div class="col-xs-5">
        <button data-artist-id="<%= @artist.id  %>" data-song-id="<%= song.id  %>" type="button" class="delete-song btn btn-primary btn-xs"><span class="oi oi-trash"></span></button>
      </div>
    </div>

  <% end %>

</div>
</div>
<%= notice %>

</div>
