<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'ARTISTS' , artists_path%> |
    <%= link_to @order_text_by_name , artists_path(order_by: @order_by_name) %> | 
    <%= link_to @order_text_by_date , artists_path(order_by: @order_by_date) %>
    <hr>
    <%= yield %>

  </body>
</html>
